div#main_container {
	margin: 0 15%;
	padding: 0 10%;
	background-color: #EEEEFF;
}

body {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

.box {
	background-color: #FFFFFF;
	width: 20px;
	height: 20px;
	line-height: 0px;

	margin-right: -1px;
	margin-top: -1px;
	border: 1px solid;
	padding: 0;
	display: inline-block;
}

.win-box {
	border-color: red;
}

.box-row {
	margin: 0;
	line-height: 20px;
	height: 20px;
}

.box-row:after {
	clear: both;
	content: "";
	display: table
}